.weather-card{
    background: white;
    border-radius: 20px;
    color:#306F8A;
}   
.weather-card h3{
    color: grey;
    text-align: left;
    background-color: white;
    font-size: 1rem;
}
.weather-card p{
    background-color: white;
}
.weather-details{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.temp-class{
    color: #4B6FA2;
    font-size: 33px;
    text-align: center;
    padding-top: 3rem;
}
@media screen and (min-width: 800px) {
    .weather-details{
      gap: 10rem;
    }
    img{
        width: 20rem;
    }
    .temp-class{
        font-size: 50px;
    }
    .right-side{
        font-size: 30px;
    }
    .left-side p{
        font-size: 2rem;
    }
    .weather-card h3{
        font-size: 3rem;
    }
  }