.weather-card{
    background: white;
    border-radius: 20px;
    color:#306F8A;
}   
.weather-card h3{
    color: grey;
    text-align: left;
    background-color: white;
}
.weather-card p{
    background-color: white;
}
.weather-details{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.temp-class{
    color: #4B6FA2;
    font-size: 33px;
    text-align: center;
    padding-top: 3rem;
}